Routes/Routes/Web References/Server/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1163/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1163/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1163/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_isvalid_InputMessage">
    <wsdl:part name="parameters" element="tns:isvalid" />
  </wsdl:message>
  <wsdl:message name="IService1_isvalid_OutputMessage">
    <wsdl:part name="parameters" element="tns:isvalidResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registration_InputMessage">
    <wsdl:part name="parameters" element="tns:registration" />
  </wsdl:message>
  <wsdl:message name="IService1_registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_reset_InputMessage">
    <wsdl:part name="parameters" element="tns:reset" />
  </wsdl:message>
  <wsdl:message name="IService1_reset_OutputMessage">
    <wsdl:part name="parameters" element="tns:resetResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addroute_InputMessage">
    <wsdl:part name="parameters" element="tns:addroute" />
  </wsdl:message>
  <wsdl:message name="IService1_addroute_OutputMessage">
    <wsdl:part name="parameters" element="tns:addrouteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addstop_InputMessage">
    <wsdl:part name="parameters" element="tns:addstop" />
  </wsdl:message>
  <wsdl:message name="IService1_addstop_OutputMessage">
    <wsdl:part name="parameters" element="tns:addstopResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getstops_InputMessage">
    <wsdl:part name="parameters" element="tns:getstops" />
  </wsdl:message>
  <wsdl:message name="IService1_getstops_OutputMessage">
    <wsdl:part name="parameters" element="tns:getstopsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="isvalid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isvalid" message="tns:IService1_isvalid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isvalidResponse" message="tns:IService1_isvalid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registration" message="tns:IService1_registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registrationResponse" message="tns:IService1_registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reset">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/reset" message="tns:IService1_reset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/resetResponse" message="tns:IService1_reset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addroute">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addroute" message="tns:IService1_addroute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addrouteResponse" message="tns:IService1_addroute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addstop">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addstop" message="tns:IService1_addstop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addstopResponse" message="tns:IService1_addstop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getstops">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getstops" message="tns:IService1_getstops_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getstopsResponse" message="tns:IService1_getstops_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isvalid">
      <soap:operation soapAction="http://tempuri.org/IService1/isvalid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registration">
      <soap:operation soapAction="http://tempuri.org/IService1/registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reset">
      <soap:operation soapAction="http://tempuri.org/IService1/reset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addroute">
      <soap:operation soapAction="http://tempuri.org/IService1/addroute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addstop">
      <soap:operation soapAction="http://tempuri.org/IService1/addstop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getstops">
      <soap:operation soapAction="http://tempuri.org/IService1/getstops" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:1163/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>