Routes/Routes/Web References/Server/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1163/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
  <xs:element name="isvalid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isvalidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isvalidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="reset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ConfirmPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="busnumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="routenumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newbusnum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newroutenum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatestops">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stopname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newstopname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatestopsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatestopsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addroute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BusNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RouteNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addrouteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addstop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addstopResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getstops">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getstopsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="getstopsResult" nillable="true" type="q1:ArrayOfStops" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getbusroute">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getbusrouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="getbusrouteResult" nillable="true" type="q2:ArrayOfRoute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getdetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getdetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="getdetailResult" nillable="true" type="q3:Route" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="composite" nillable="true" type="q4:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q5:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>